/* You can add global styles to this file, and also import other style files */



.toast-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
}


.cursor-pointer{
  cursor: pointer;
}


.button-violet {
  background-color: violet !important;
  border-color: violet !important;
}

.button-violet:hover {
  background-color: fuchsia !important;
}

.button-violet:active {
  background-color: orchid !important;
  border-color: orchid !important;
}

.non-decorated-anchor{
  text-decoration: inherit;
  color: inherit;
}

.user-image {
  border-radius: 50%;
}
