.post-user-image{
  border-radius: 50%;

}

.post-user-name{
  font-weight: bold;
}

.user-image {
  border-radius: 50%;
}

.button-red {
  background-color: red;
  border-color: red;
}

.button-red:hover {
  background-color: firebrick;
}

.button-red:active {
  background-color: crimson;
  border-color: crimson;
}

.hashtag-text{
  color: #1c99ed;
}


