Posts

<div class="border p-2">
  <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
    <div>
      <input
        type="text"
        placeholder="Post something"
        class="form-control form-control-lg"
        formControlName="content"
      />
    </div>

    <div class="text-end">
      <button
        class="btn btn-primary mt-2 w-25 button-violet"
        type="submit"
        [disabled]="createPostForm.invalid"
      >
        Post
      </button>
    </div>
  </form>
</div>


<div *ngFor="let post of postList">
  <div class="d-flex mt-2">
    <div>
      <img
        src="assets/images/default-profile-image.jpg"
        width="50px"
        height="50px"
        class="post-user-image"
      />
    </div>

    <div class="ms-2">
      <div class="d-flex">
        <div class="post-user-name">{{post['user']['userName']}}</div>
        <div class="ms-2">
          @{{processProfileDisplayName(post['user']['userName'], post['user']['displayName'])}}
        </div>
      </div>

      <div [innerHTML]="colorHashtag(post['content'])" >
      </div>

      <div class="d-flex">
        <div><i class="bi bi-chat"></i> 0</div>

        <div class="ms-5"><i class="bi bi-repeat"></i> 0</div>
        <div class="ms-5">
          <i
            class="bi cursor-pointer"
            (click)="likeInteraction(post['postId'], post['userLiked'])"
            [class]="{ 'bi-heart-fill': post['userLiked'], 'bi-heart': !post['userLiked'] }"
          ></i>
          {{ post["likeCount"] }}
        </div>

      </div>
    </div>
  </div>

</div>
